@page
@model Statemanagement.ShowSessionModel
@{
    ViewData["Title"] = "ShowSession";
}

<h1>ShowSession</h1>
<form method="post">
    <input type="text" asp-for="SessionText">
    <input type="submit" class="btn btn-primary" value="Submit">
</form>