@page
@model Statemanagement.ShowCookieDataModel
@{
    ViewData["Title"] = "ShowCookieData";
}

<h1>ShowCookieData</h1>
<form method="post">
    <input type="text" asp-for="CookieText"/>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>