@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Game hoger/lager";
}
<h1>@ViewData["Title"]</h1>
<p>Druk op start om te beginnen</p>
<hr />
<form method="post">
    <div class="form-group">
        <input type="submit" value="Start" class="btn btn-default" />
    </div>
</form>


