@model Urenregistratie.Models.RegistratieModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegistratieModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Jaar" class="control-label"></label>
                <input asp-for="Jaar" class="form-control" />
                <span asp-validation-for="Jaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week" class="control-label"></label>
                <input asp-for="Week" class="form-control" />
                <span asp-validation-for="Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maandag" class="control-label"></label>
                <input asp-for="Maandag" class="form-control" />
                <span asp-validation-for="Maandag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinsdag" class="control-label"></label>
                <input asp-for="Dinsdag" class="form-control" />
                <span asp-validation-for="Dinsdag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Woensdag" class="control-label"></label>
                <input asp-for="Woensdag" class="form-control" />
                <span asp-validation-for="Woensdag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donderdag" class="control-label"></label>
                <input asp-for="Donderdag" class="form-control" />
                <span asp-validation-for="Donderdag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vrijdag" class="control-label"></label>
                <input asp-for="Vrijdag" class="form-control" />
                <span asp-validation-for="Vrijdag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zaterdag" class="control-label"></label>
                <input asp-for="Zaterdag" class="form-control" />
                <span asp-validation-for="Zaterdag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zondag" class="control-label"></label>
                <input asp-for="Zondag" class="form-control" />
                <span asp-validation-for="Zondag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedewerkerId" class="control-label"></label>
                <select asp-for="MedewerkerId" class ="form-control" asp-items="ViewBag.MedewerkerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
